.heading{
    font-weight:var(--extra-bold);
}
.lightText{
    color:var(--text-light);
}
.extraText{
    width:30%;
}
.inputField{
    width:100%;
    border:none;
    background:var(--bg-light);
    border-radius:5px;
}
#drop{
    width:100%;
    border:none;
    background:var(--bg-light);
    border-radius:5px;   
}


@media (max-width:768px){
    .inputFieldContainer,.formContainer{
        width:100% !important;
    }
    .extraText{
        width:100% !important;
    }
    .btnRegister{
        width:100% !important;
    }
}